<!--
  Generated template for the JietiaoDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center *ngIf="!isLender">借条详情</ion-title>
    <ion-title text-center *ngIf="isLender">发借条</ion-title>
    <!-- <span class="complete" *ngIf="isLender">完成</span> -->
  </ion-navbar>

</ion-header>



<ion-content *ngIf="isLender">
    <div class="del_wrapper" [hidden]="!isDel"></div>
  <h5>借条</h5>
  <div class="jietiao_content">
    <p>
      今收到出借人<u>{{lender}}</u>（身份证号:<u>{{identity_num}}</u>）
      出借约<u>{{money_num}}</u>元（人民币<u>{{money_ch}}整</u>）年利息为<u>{{interest}}</u>%,
      于<u>{{backtime}}</u>归还。此钱用于<u>{{purpose}}</u>。
    </p>
  </div>
  
  <div class="people">
  <p>借款人：{{borrower}}</p>
  <p>出借人：{{lender}}</p>
<!-- 出借人签名 -->
<div class="signbox" style="display:flex">
  <div>
    <img [src]="lsignImage" *ngIf="lsignImage!==undefined">
    <p *ngIf="lsignImage!==undefined">出借人签名</p>
  </div>
  <div>
    <img [src]="bsignImage" *ngIf="bsignImage!==undefined">
    <p *ngIf="bsignImage!==undefined">借款人签名</p>
  </div>
</div>
  </div>
  <!-- <div class="signing">
    <img src="" alt="s">
    <img src="" alt="s">
  </div> -->
  
  <!-- <div class="cutline"></div> -->
  
  <div class="guide" style="padding-top: 2rem;
  border-top: 1px solid #eeefef;">
    <div class="guide_img">
      <img src="assets/imgs/jietiao/tel_1.png">
    </div>
    <div class="guide_words">
      <b>投诉服务热线</b>
      <span>400123011</span>
    </div>
  </div>
  
  <div class="guide">
    <div class="guide_img">
      <img src="assets/imgs/jietiao/zhengyi.png">
    </div>
    <div class="guide_words">
      <b>争议解决方式</b>
      <span>本借条履行过程中发生的争议，双方友好协商，若协商不成，双方同意依法向出借人所在地
        有管辖权的人民法院提起诉讼。
      </span>
    </div>
  </div>
  
  <div class="guide" >
    <div class="guide_img">
      <img src="assets/imgs/jietiao/tel_1.png">
    </div>
    <div class="guide_words">
      <b>联系方式</b>
      <br>
      <span>若有任何纠纷通知，请发送至以下联系方式</span>
      <br>
      <b>借款人联系方式：{{lender_tel}}</b>
      <br>
      <b>出借人联系方式：</b>
    </div>
  </div>

  <div class="space"></div>

  <!-- 底部按钮 -->
  <div class="menu">
    <button ion-button (click)="del()">删除</button>
    <button ion-button (click)="toconfirm()">确认借条</button>
    <!-- <button ion-button (click)="send()">发送给好友</button> -->
    <!-- <button ion-button (click)="tousers()">发给平台用户</button> -->
  </div>


<!-- 弹框 -->
<div class="del_menu animated fadeIn" [hidden]="!isDel">
  <h3>你确定要删除吗</h3>
  <div class="del_btn">
<button ion-button (click)="delif(0)">否</button>
<button ion-button (click)="delif(1)">是</button>
  </div>
</div>

<!-- 发送给好友 -->
<div class="platforms" [hidden]="!isSend">
<div class="platform_box">
  <div class="choose_box" >
    <img src="assets/imgs/jietiao/wechat.png" >
    <p>微信好友</p>
  </div>
  <div class="choose_box">
    <img src="assets/imgs/jietiao/qq.png" >
    <p>qq好友</p>
  </div>
</div>
<div class="close">
  <img src="assets/imgs/jietiao/close.png" width="11px;" height="11px;" (click)="cancle()">
</div>
</div>
  </ion-content>




<ion-content *ngIf="!isLender">
<h5>借条</h5>
<div class="jietiao_content">
  <p>
    今收到出借人<u>{{lender}}</u>（身份证号:<u>{{identity_num}}</u>）
    出借约<u>{{money_num}}</u>元（人民币<u>{{money_ch}}</u>）年利息为<u>{{interest}}</u>%,
    于<u>{{backtime}}</u>归还。此钱用于<u>{{purpose}}</u>。
  </p>
</div>

<div class="people">
<p>借款人：{{borrower}}</p>
<p>出借人：{{lender}}</p>

<!-- 发借人签名 -->
<div class="signbox" style="display:flex">
  <div>
    <img [src]="lsignImage" *ngIf="lsignImage!==undefined">
    <p *ngIf="lsignImage!==undefined">出借人签名</p>
  </div>
  <div>
    <img [src]="bsignImage" *ngIf="bsignImage!==undefined">
    <p *ngIf="bsignImage!==undefined">借款人签名</p>
  </div>
</div>

</div>




<div class="guide" style="padding-top: 2rem;
border-top: 1px solid #eeefef;">
  <div class="guide_img">
    <img src="assets/imgs/jietiao/tel_1.png">
  </div>
  <div class="guide_words">
    <b>投诉服务热线</b>
    <span>400123011</span>
  </div>
</div>

<div class="guide">
  <div class="guide_img">
    <img src="assets/imgs/jietiao/zhengyi.png">
  </div>
  <div class="guide_words">
    <b>争议解决方式</b>
    <span>本借条履行过程中发生的争议，双方友好协商，若协商不成，双方同意依法向出借人所在地
      有管辖权的人民法院提起诉讼。
    </span>
  </div>
</div>

<div class="guide" style="padding-bottom: 2rem;
border-bottom: 1px solid #eeefef;">
  <div class="guide_img">
    <img src="assets/imgs/jietiao/tel_1.png">
  </div>
  <div class="guide_words">
    <b>联系方式</b>
    <br>
    <span>若有任何纠纷通知，请发送至以下联系方式</span>
    <br>
    <b>借款人联系方式：{{lender_tel}}</b>
    <br>
    <b>出借人联系方式：</b>
  </div>
</div>

<div class="agreement">
  <div style="position:relative;display: inline-block;    margin-right: 8px; width: 3rem;">
    <input id="c1" class="color-input-orange" type="checkbox" checked>
    <label for="c1"></label>
   </div>
<p style="line-height: 30px;">我已阅读并同意<span>《借款协议》</span></p>
</div>

<div class="btnbox">
  <button ion-button class="btnB1" (click)="back()">不借了</button>
  <button ion-button class="btnB2" (click)="toconfirm()">确认借款</button>
</div>
</ion-content>
