page-send-success {
    .back-button-text{
        display: none;
    }
    .scroll-content{
        background-color: #EEEFEF !important;
        overflow-y:scroll;
    }
    .contBox{
        background-color: #fff;
        padding: 2rem 3rem 1.5rem;
        margin-bottom: 10%;
    }
    .BtnBox{
        background-color: #FFA853;
        color:#fff;
        border-radius: 1rem;
        padding: .5rem 1rem 1.5rem;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        display: flex;
    }
    .BtnBox img{
        height: 3rem !important;
        position: relative;
        top: 50%;
        margin-top: 1.5rem;
    }
    .bigFon{
        font-size: 18px;
        margin: 1rem .5rem 0;
        text-align: left;
    }
    
    .contUl{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        -webkit-padding-start: 0rem;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }
    .contUl li{
        margin: .5rem;
    }
    .contBox img{
        height: 4rem;
        border-radius: 50%;
    }
    .manNa{
        position: relative;
        top: -1.6rem;
        margin-left: 1rem;
    }
.btnSpan{
    position: relative;
    top: -1rem;
}
.bor{
    border-bottom: 1px solid #EEEFEF;
}




    //按钮
.button-md-danger,.button-ios-danger{
    background-color: #FFA853;
}
.button-md-danger.activated{
    background-color: #FFA853;
}
.button-ios-danger.activated{
    background-color: #FFA853;
}
.button-md-danger:hover:not(.disable-hover){
    background-color: #FFA853;
}
.button-ios,.button-md {
    border-radius: 4rem;
    height: 2.5em;
    background-color: #FFA853;
    margin: 0.4rem 25%;
    padding: 0 2rem;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #FFA853;
}
.segment-md .segment-button{
    color: #FFA853;
}
.segment-ios .segment-button.segment-activated{
    border-color: #Fff !important;
    border-bottom: 1px solid #ffa853 !important;
    margin-right: 1rem;
    color: #ffa853 !important;
}
.segment-ios .segment-button.segment-activated{
    background-color: #fff;
}
.segment-ios .segment-button{
    border-color: #Fff !important;
    color: black !important;
}
.segment-ios .segment-button{
    border-bottom: none;
}
.segment-ios .segment-button:last-of-type{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.has-refresher > .scroll-content{
    border-top: none !important;
}
.btn{
    position: relative;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    border-radius: 2.8rem;
    background: -moz-linear-gradient(left,#f5ae54,#fe9e5a);
background: -webkit-linear-gradient(left,#f5ae54,#fe9e5a);
margin-top: 2%;
}
}
